body{
    margin: 0;
    background: #f9efe5;
}
.wrap {
    margin: auto;
    max-width: 720px;
    background: #fff;
}

.main_visual img {
    width: 100%;
}

.storebtn img {
    height: 60px;
}

.storebtn a {
    display: block;
}

.storebtn {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.constent {
    padding: 15px;
}

footer {
    padding: 15px;
    background: #ddd;
}

.center{
    text-align: center;
}